<!DOCTYPE html>
<html>
  <%- include('../partials/head'); -%>
  <style>
    #form {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  </style>
  <body class="container-fluid">
    <div class="row justify-content-center">
      <div class="jumbotron col-md-4 col-sm-8 position-absolute" id="form">
        <h2 class="text-center">Đổi mật khẩu</h2>
        <form action="/users/change-password" method="post" class="">
          <div class="form-group">
            <label for="inputName">Tên đăng nhập</label>
            <input type="text" class="form-control" id="inputUsername" aria-describedby="usernameHelp" value="<%= (typeof username != 'undefined') ? username : '' %>" name="username" readonly>
          </div>
          <div class="form-group">
            <label>Mật khẩu mới</label>
            <input type="password" class="form-control" id="inputPassword" name="password">
          </div>
          <div class="form-group">
            <label>Nhập lại mật khẩu</label>
            <input type="password" class="form-control" id="inputRePassword" name="rePassword">
          </div>
          <% if (typeof error != 'undefined') { -%>
            <p class="text-danger"><%= error %></p>
          <% } -%>
          <button type="submit" class="btn btn-primary" style="width: 49%">Đồng ý</button>
          <a href="/users/information" class="btn btn-primary" style="width: 49%">Thôi</a>
        </form>
      </div>
    </div>
  </body>
</html>
